.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.687);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

body {
  background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

p a {
  text-decoration: none;
  font-size: 22px;
  color: rgba(3, 196, 255, 0.957);
}
button:hover, a:hover {
  opacity: 0.100;
}

#pied-page
{
	border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}
.trans{
  background-color: black;
}